body {
    background-color: dimgray;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}
.dropdown-toggle:after {
    content: none
}
.navbar-brand {
    font-size: 105%;
}
.dropdown-item:hover {
    background: #7096F7;
}
.dropdown-menu {
    padding: 0;
}
.box {
  background-color: #343a40;
  font-size: 170%;
}
.reset-links, .reset-links:hover, .reset-links:active, .reset-links:focus {
    text-decoration: none;
    color: black;
    outline: none;
}